@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');
@font-face {
    font-family: 'Old London';
    src: local('Old London'), url(../fonts/OldLondon.ttf) format('truetype'), url(../fonts/Olondon_.otf) format('opentype');
}

:root {
    --blanco: #faf5de;
    --negro: #000000;
    --azul: #464c7a;
    --dorado: #efb810;
    --marron: #a77d36;
}

* {
    color: var(--negro);
    margin: 0px;
    /* externo */
    padding: 0px;
    /* interno */
}

a {
    color: var(--azul);
}

a:visited {
    color: var(--marron);
}

h1 {
    font-size: 2em;
    font-family: 'Old London';
}

h2 {
    font-size: 1.5em;
}

p {
    font-style: italic;
    font-size: 1.2em;
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 15px;
}

ol {
    padding-left: 50px;
    list-style-type: upper-roman;
}

legend {
    margin-bottom: 0px;
    margin-left: 16px;
}

fieldset {
    background-image: -moz-element();
    max-width: 500px;
    padding: 16px;
    border: 2px solid var(--azul);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-family: 'Old London';
    font-size: 1.4em;
    text-align: right
}

input::placeholder {
    font-family: 'IM Fell DW Pica';
    font-size: 1.2em;
}

textarea::placeholder {
    font-family: 'IM Fell DW Pica';
    font-size: 1.1em;
}

.caja {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding: 5px;
}

.caja img {
    width: 100%;
}

.whatsapp {
    /*display: block;*/
    position: fixed;
    bottom: 10px;
    right: 10px;
}


/* Clearfix */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* Basic Styles */

body {
    background-color: var(--blanco);
    font-family: 'IM Fell DW Pica';
}

nav {
    height: 40px;
    width: 100%;
    background: var(--negro);
    font-size: 1.5em;
    font-family: 'Old London';
    font-weight: bold;
    position: relative;
    /*border-bottom: 2px solid var(--negro);*/
}

nav ul {
    padding: 0;
    margin: 0 auto;
    width: 600px;
    height: 40px;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    color: var(--blanco);
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    text-shadow: 1px 1px 0px var(--negro);
}

nav li a {
    border-right: 1px solid var(--blanco);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

nav li:last-child a {
    border-right: 0;
}

nav a:hover,
nav a:active {
    background-color: var(--blanco);
}

nav a#pull {
    display: none;
}